input[type="text"], textarea {
    background-color: #37a2b2 !important;
    color: #d7310c !important;
}

body {
  background: url('https://i.redd.it/um35cqqet32y.gif') !important;
  background-size: cover  !important;
}
 
#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
